<TABLE BORDER="1" cellspacing="1" cellpadding="2">
<TR valign="middle" bgcolor="#C0C0C0">
<TH>Hierarchy</TH>
<TH>Input</TH>
<TH>Constant Input</TH>
<TH>Unused Input</TH>
<TH>Floating Input</TH>
<TH>Output</TH>
<TH>Constant Output</TH>
<TH>Unused Output</TH>
<TH>Floating Output</TH>
<TH>Bidir</TH>
<TH>Constant Bidir</TH>
<TH>Unused Bidir</TH>
<TH>Input only Bidir</TH>
<TH>Output only Bidir</TH>
</TR>
<TR valign="middle">
<TD ALIGN="LEFT">messageStateCounter</TD>
<TD ALIGN="LEFT">34</TD>
<TD ALIGN="LEFT">59</TD>
<TD ALIGN="LEFT">0</TD>
<TD ALIGN="LEFT">59</TD>
<TD ALIGN="LEFT">32</TD>
<TD ALIGN="LEFT">59</TD>
<TD ALIGN="LEFT">59</TD>
<TD ALIGN="LEFT">59</TD>
<TD ALIGN="LEFT">0</TD>
<TD ALIGN="LEFT">0</TD>
<TD ALIGN="LEFT">0</TD>
<TD ALIGN="LEFT">0</TD>
<TD ALIGN="LEFT">0</TD>
</TR>
<TR valign="middle">
<TD ALIGN="LEFT">ballStateCounter</TD>
<TD ALIGN="LEFT">34</TD>
<TD ALIGN="LEFT">59</TD>
<TD ALIGN="LEFT">0</TD>
<TD ALIGN="LEFT">59</TD>
<TD ALIGN="LEFT">32</TD>
<TD ALIGN="LEFT">59</TD>
<TD ALIGN="LEFT">59</TD>
<TD ALIGN="LEFT">59</TD>
<TD ALIGN="LEFT">0</TD>
<TD ALIGN="LEFT">0</TD>
<TD ALIGN="LEFT">0</TD>
<TD ALIGN="LEFT">0</TD>
<TD ALIGN="LEFT">0</TD>
</TR>
<TR valign="middle">
<TD ALIGN="LEFT">messageClock</TD>
<TD ALIGN="LEFT">34</TD>
<TD ALIGN="LEFT">32</TD>
<TD ALIGN="LEFT">0</TD>
<TD ALIGN="LEFT">32</TD>
<TD ALIGN="LEFT">1</TD>
<TD ALIGN="LEFT">32</TD>
<TD ALIGN="LEFT">32</TD>
<TD ALIGN="LEFT">32</TD>
<TD ALIGN="LEFT">0</TD>
<TD ALIGN="LEFT">0</TD>
<TD ALIGN="LEFT">0</TD>
<TD ALIGN="LEFT">0</TD>
<TD ALIGN="LEFT">0</TD>
</TR>
<TR valign="middle">
<TD ALIGN="LEFT">ballClock</TD>
<TD ALIGN="LEFT">34</TD>
<TD ALIGN="LEFT">32</TD>
<TD ALIGN="LEFT">0</TD>
<TD ALIGN="LEFT">32</TD>
<TD ALIGN="LEFT">1</TD>
<TD ALIGN="LEFT">32</TD>
<TD ALIGN="LEFT">32</TD>
<TD ALIGN="LEFT">32</TD>
<TD ALIGN="LEFT">0</TD>
<TD ALIGN="LEFT">0</TD>
<TD ALIGN="LEFT">0</TD>
<TD ALIGN="LEFT">0</TD>
<TD ALIGN="LEFT">0</TD>
</TR>
<TR valign="middle">
<TD ALIGN="LEFT">part4Counter</TD>
<TD ALIGN="LEFT">34</TD>
<TD ALIGN="LEFT">32</TD>
<TD ALIGN="LEFT">0</TD>
<TD ALIGN="LEFT">32</TD>
<TD ALIGN="LEFT">32</TD>
<TD ALIGN="LEFT">32</TD>
<TD ALIGN="LEFT">32</TD>
<TD ALIGN="LEFT">32</TD>
<TD ALIGN="LEFT">0</TD>
<TD ALIGN="LEFT">0</TD>
<TD ALIGN="LEFT">0</TD>
<TD ALIGN="LEFT">0</TD>
<TD ALIGN="LEFT">0</TD>
</TR>
<TR valign="middle">
<TD ALIGN="LEFT">part4Clock</TD>
<TD ALIGN="LEFT">34</TD>
<TD ALIGN="LEFT">32</TD>
<TD ALIGN="LEFT">0</TD>
<TD ALIGN="LEFT">32</TD>
<TD ALIGN="LEFT">1</TD>
<TD ALIGN="LEFT">32</TD>
<TD ALIGN="LEFT">32</TD>
<TD ALIGN="LEFT">32</TD>
<TD ALIGN="LEFT">0</TD>
<TD ALIGN="LEFT">0</TD>
<TD ALIGN="LEFT">0</TD>
<TD ALIGN="LEFT">0</TD>
<TD ALIGN="LEFT">0</TD>
</TR>
<TR valign="middle">
<TD ALIGN="LEFT">part3Counter</TD>
<TD ALIGN="LEFT">3</TD>
<TD ALIGN="LEFT">0</TD>
<TD ALIGN="LEFT">0</TD>
<TD ALIGN="LEFT">0</TD>
<TD ALIGN="LEFT">4</TD>
<TD ALIGN="LEFT">0</TD>
<TD ALIGN="LEFT">0</TD>
<TD ALIGN="LEFT">0</TD>
<TD ALIGN="LEFT">0</TD>
<TD ALIGN="LEFT">0</TD>
<TD ALIGN="LEFT">0</TD>
<TD ALIGN="LEFT">0</TD>
<TD ALIGN="LEFT">0</TD>
</TR>
</TABLE>
